.timeline-container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    padding: 40px 20px;
  }
  
  .timeline-item {
    border-radius: 4px;
    margin-bottom: 20px;
    max-width: 400px;
  }

  .timeline-item p{
    max-width:  70ch;
    padding: 10px;
  }
  
  
  .timeline-item:last-child {
    margin-bottom: 0;
  }
  
  .timeline-divider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: var(--color_secundary);
    transform: translateX(-50%);
    z-index: 0;
  }
  
  /* Cambiamos el contenedor del contenido de los trabajos */
  .work-info {
    max-width: 300px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  /* Ajustamos los estilos para que los trabajos estén en dos columnas */
  .timeline-item:nth-child(even) {
    position: relative;
    left: 50%;
    transform: translateX(10%);
  }
  
  .timeline-item:nth-child(odd) {
    position: relative;
    right: 40%;
    transform: translateX(-10%);
  }


  @media screen and (max-width: 840px) {
    .timeline-item {
      flex-direction: column;
    }
  
    .timeline-divider {
      display: none;
    }
  
    /* Eliminamos el "left" y "transform" en pantallas más pequeñas */
    .timeline-item:nth-child(even),
    .timeline-item:nth-child(odd) {
      position: static;
      transform: none;
    }
  }