.skills-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
  }

 
  article{
    border: 3px solid var(--color_secundary);
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: var(--color_main);
    z-index: -2;
  }
  article p{
    padding:2%;
    max-width: 70ch;
    word-wrap: normal;
  }

  
  .cards-container{
    display:flex; 
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1%;
    margin-bottom: 10px;
  
  }
 
  
  .skillCard{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    box-shadow: #2E86C1 0px 20px 30px -10px;
    background-color: #171717;
  }
 
  
  
  
  .skillCard img{
    width: 80%;
    margin: auto;
  }
  .skillCard strong{
    text-align: center;
  }
  
  .progressBar{
    width: 80%;
    height: 20px;
    background-color: var(--white);
    border-radius: var(--borderWidth);
    margin: auto;
  }
  
  .progress{
    height: 100%;
    color: black;
    text-align: end;
    border-radius: 4px;
  }


  .info{
    width: 90%;
    display: flex;
    gap: 20px;
  }

  .softSkills{
    padding: 2%;
    padding-left: 5%;
    list-style: square;
  }
  